// dark mode
$text: #9096a5;
$hover-bg: #232e4a;
$border-color: #374151;
$background: #0d1f4a;
$card-background: #051d41;
$chip-background: #232e4a;
$bg_01123B: #01123b;
$bg_e1e6fd: #e1e6fd;

$black: #000;
$white: #fff;

// light mode
$light-text: #c5cbd8;
$light-border-color: #f7faff;
$light-background: #dce9fa;
