header {
    background-color: black;
    padding: 20px 10px 0 10px;
    .links {
        display: flex;
        gap: 1rem;
        .link {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            padding: 10px 0;
            color: #fff;
            border-bottom: 2px solid transparent;
        }
        .active {
            border-bottom-color:#F78166 ;
        }
    }
}